<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.telecom.action.CONFIGURE_PHONE_ACCOUNT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <uses-permission
        android:name="android.permission.USE_FINGERPRINT"
        tools:node="remove" />

    <uses-permission
        android:name="android.permission.CAMERA"
        android:maxSdkVersion="23" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <queries>
        <package android:name="com.goodwy.dialer.debug" />
        <package android:name="com.goodwy.dialer" />
        <package android:name="com.goodwy.contacts.debug" />
        <package android:name="com.goodwy.contacts" />
        <package android:name="com.goodwy.smsmessenger.debug" />
        <package android:name="com.goodwy.smsmessenger" />
        <package android:name="com.goodwy.voicerecorder.debug" />
        <package android:name="com.goodwy.voicerecorder" />
        <package android:name="com.goodwy.gallery.debug" />
        <package android:name="com.goodwy.gallery" />
        <package android:name="com.goodwy.filemanager.debug" />
        <package android:name="com.goodwy.filemanager" />
        <package android:name="com.goodwy.audiobooklite" />
        <package android:name="com.goodwy.keyboard" />
        <package android:name="com.goodwy.calendar" />

        <!-- Required for loading contact accounts -->
        <intent>
            <action android:name="android.accounts.AccountAuthenticator" />
        </intent>
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_launcher_name"
        android:localeConfig="@xml/locale_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        tools:targetApi="tiramisu">

        <activity
            android:name=".activities.SplashActivity"
            android:exported="false"
            android:screenOrientation="nosensor"
            android:theme="@style/SplashTheme" />

        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:exported="true"
            android:screenOrientation="nosensor"
            tools:ignore="AppLinkUrlError">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:mimeType="vnd.android.cursor.dir/calls" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.NotificationActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="">
            <intent-filter>
                <action android:name="com.goodwy.commons.action.MISSED_CALL_BACK" />
                <action android:name="com.goodwy.commons.action.MISSED_CALL_MESSAGE" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.goodwy.commons.activities.PurchaseActivity"
            android:configChanges="orientation|uiMode"
            android:exported="false"
            android:label=""
            android:screenOrientation="nosensor"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name="com.goodwy.commons.activities.AboutActivity"
            android:configChanges="orientation|uiMode"
            android:exported="false"
            android:label="@string/about"
            android:screenOrientation="nosensor"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name="com.goodwy.commons.activities.CustomizationActivity"
            android:configChanges="orientation|uiMode"
            android:exported="false"
            android:label="@string/customize_colors"
            android:parentActivityName=".activities.SettingsActivity" />

        <activity
            android:name="com.goodwy.commons.activities.ManageBlockedNumbersActivity"
            android:configChanges="orientation|uiMode"
            android:exported="false"
            android:label="@string/blocked_numbers"
            android:screenOrientation="nosensor"
            android:parentActivityName=".activities.SettingsActivity"
            tools:replace="android:label" />

        <activity
            android:name=".activities.ManageSpeedDialActivity"
            android:configChanges="orientation|uiMode"
            android:exported="false"
            android:label="@string/speed_dial"
            android:screenOrientation="nosensor"
            android:parentActivityName=".activities.SettingsActivity" />

        <activity
            android:name=".activities.ConferenceActivity"
            android:configChanges="orientation|uiMode"
            android:exported="false"
            android:label="@string/conference"
            android:screenOrientation="nosensor"
            android:parentActivityName=".activities.CallActivity" />

        <activity
            android:name=".activities.SettingsActivity"
            android:configChanges="orientation|uiMode"
            android:exported="true"
            android:label="@string/settings"
            android:parentActivityName=".activities.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.SettingsDialpadActivity"
            android:configChanges="orientation|uiMode"
            android:exported="true"
            android:label="@string/dialpad_preferences"
            android:screenOrientation="nosensor"
            android:parentActivityName=".activities.SettingsActivity">

            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--launchMode="singleInstance" - incoming call is not displayed correctly on the locked screen-->
        <activity
            android:name=".activities.CallActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/ongoing_call"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor"
            android:showOnLockScreen="true" />

        <activity
            android:name=".activities.CallHistoryActivity"
            android:configChanges="orientation|uiMode"
            android:exported="false"
            android:label="@string/recents"
            android:screenOrientation="nosensor"
            android:parentActivityName=".activities.MainActivity">
        </activity>

        <activity
            android:name=".activities.DialpadActivity"
            android:configChanges="orientation|uiMode"
            android:exported="true"
            android:screenOrientation="nosensor"
            android:parentActivityName=".activities.MainActivity"
            android:windowSoftInputMode="stateHidden">
            <!--android:label="@string/dialpad"-->

            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="tel" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.DIAL" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tel" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.ACTION_VIEW" />
                <action android:name="android.intent.action.DIAL" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tel" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.DialerActivity"
            android:exported="true"
            android:label="@string/dialer"
            android:theme="@style/Theme.Transparent">

            <intent-filter>
                <action android:name="android.intent.action.CALL" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="tel" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.CallService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_INCALL_SERVICE">
            <meta-data
                android:name="android.telecom.IN_CALL_SERVICE_UI"
                android:value="true" />

            <intent-filter>
                <action android:name="android.telecom.InCallService" />
            </intent-filter>
        </service>

        <service
            android:name=".services.SimpleCallScreeningService"
            android:exported="true"
            android:permission="android.permission.BIND_SCREENING_SERVICE">
            <intent-filter>
                <action android:name="android.telecom.CallScreeningService" />
            </intent-filter>
        </service>

        <service android:name=".services.TimerService"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Used to notify the user that the call back reminder timer has started" />
        </service>

        <receiver android:name=".receivers.TimerReceiver" />

        <receiver
            android:name=".receivers.CallActionReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.goodwy.dialer.action.ACCEPT_CALL" />
                <action android:name="com.goodwy.dialer.action.DECLINE_CALL" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.MissedCallReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.telecom.action.SHOW_MISSED_CALLS_NOTIFICATION" />
                <action android:name="com.goodwy.phone.action.MISSED_CALL_CANCEL" />
            </intent-filter>
        </receiver>

        <activity-alias
            android:name=".activities.SplashActivity.Original"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher"
            android:targetActivity=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.One"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_one"
            android:roundIcon="@mipmap/ic_launcher_one"
            android:targetActivity=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Two"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_two"
            android:roundIcon="@mipmap/ic_launcher_two"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Three"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_three"
            android:roundIcon="@mipmap/ic_launcher_three"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Four"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_four"
            android:roundIcon="@mipmap/ic_launcher_four"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Five"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_five"
            android:roundIcon="@mipmap/ic_launcher_five"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Six"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_six"
            android:roundIcon="@mipmap/ic_launcher_six"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Seven"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_seven"
            android:roundIcon="@mipmap/ic_launcher_seven"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Eight"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_eight"
            android:roundIcon="@mipmap/ic_launcher_eight"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Nine"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_nine"
            android:roundIcon="@mipmap/ic_launcher_nine"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Ten"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_ten"
            android:roundIcon="@mipmap/ic_launcher_ten"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Eleven"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_eleven"
            android:roundIcon="@mipmap/ic_launcher_eleven"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>
</manifest>
