<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto">

    <queries>
        <package android:name="com.goodwy.audiobook.debug" />
        <package android:name="com.goodwy.audiobook" />
        <package android:name="com.goodwy.files.debug" />
        <package android:name="com.goodwy.files" />
        <package android:name="com.goodwy.dialer.debug" />
        <package android:name="com.goodwy.dialer" />
        <package android:name="com.goodwy.contacts.debug" />
        <package android:name="com.goodwy.contacts" />
        <package android:name="com.goodwy.smsmessenger.debug" />
        <package android:name="com.goodwy.smsmessenger" />
        <package android:name="com.goodwy.voicerecorder.debug" />
        <package android:name="com.goodwy.voicerecorder" />
        <package android:name="com.goodwy.voicerecorderfree.debug" />
        <package android:name="com.goodwy.voicerecorderfree" />
        <package android:name="com.goodwy.calendar" />
        <package android:name="com.goodwy.calendar.debug" />
        <package android:name="com.goodwy.keyboard" />
        <package android:name="com.goodwy.keyboard.debug" />
    </queries>

</manifest>
